systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/config.log
storage:
  dbPath: /var/lib/mongodb/config
  journal:
    enabled: true
processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/config.pid
net:
  port: 27019
  bindIp: {{ ansible_default_ipv4.address }},127.0.0.1
security:
  authorization: enabled
  keyFile: /home/mongodb/key
replication:
  replSetName: rs0
sharding:
  clusterRole: configsvr